# common
.DS_Store
node_modules/
/vendor/
package-lock.json

# config
package.json
bower.json
gulpfile.babel.js
gulp/dir.es6
src/lib.js

# build files
test-results.xml

# exclude

# gitkeep
!.gitkeep
