{
  "name": "micro-lib",
  "version": "0.1.0",
  "description": "javascript lib minimum app",
  "main": "./src/ready.js",
  "repository": {
    "type": "git",
    "url": "//github.com/kobabasu/micro-lib.git"
  },
  "keywords": [
    "mocha",
    "chai"
  ],
  "os": [
    "darwin",
    "linux",
    "!win32"
  ],

  "dependencies": {},

  "devDependencies": {
    "@babel/core": "*",
    "@babel/register": "*",
    "@babel/preset-env": "*",
    "babel-plugin-istanbul": "*",
    "chai": "*",
    "chrome-launcher": "*",
    "chrome-remote-interface": "*",
    "jsdom": "*",
    "mocha": "*",
    "mocha-junit-reporter": "*",
    "chai": "*",
    "sinon": "*"
  },

  "scripts": {
    "global": "npm install -g chromium jq hjson uglify-js watch nyc mocha",
    "copy": "cp -r ./javascript ../ && find ./src -name 'ready*' -exec cp -i {} ../javascript/ \\;",
    "build": "hjson -j ../javascript/lib.hjson | jq -c '.[]' | xargs -I{} cat ./src/modules/{} > ../js/lib.js && find ./javascript -name 'ready*' -exec cp -i {} ../js/ \\;",
    "minify": "yarn run build && find ../js -type f -a ! -name '*.min.js' -exec basename {} .js \\; | xargs -I{} uglifyjs ../js/{}.js -c -o ../js/{}.min.js",
    "postinstall": "yarn run copy && yarn run minify",
    "test": "mocha test/RippleEffect.test.js --require @babel/register -g '^(?!EXCLUDE)' --timeout 10000",
    "reporter": "mocha test/*.js --require @babel/register --reporter mocha-junit-reporter --reporter-options mochaFile=./results/test-results.xml -g '^(?!EXCLUDE)' --timeout 10000",
    "coverage": "nyc --cache false --reporter=lcov --reporter=text --reporter=cobertura mocha test/*.js --require @babel/register -g '^(?!EXCLUDE)' --timeout 10000",
    "watch": "watch 'yarn run minify' ../javascript"
  },

  "preferGlobal": true,
  "author": "kobabasu",
  "license": "MIT"
}
