{
  "name": "micro-lib",
  "version": "0.0.1",
  "description": "javascript lib minimum app",
  "main": "./src/ready.js",
  "repository": {
    "type": "git",
    "url": "//github.com/kobabasu/micro-lib.git"
  },
  "keywords": [
    "mocha",
    "chai",
    "phantomjs"
  ],
  "os": [
    "darwin",
    "linux",
    "!win32"
  ],

  "dependencies": {},

  "devDependencies": {
    "mocha": "*",
    "chai": "*",
    "sinon": "*",
    "mocha-junit-reporter": "*",

    "chrome-launcher": "*",
    "chrome-remote-interface": "*",

    "babel-core": "*",
    "babel-preset-es2015": "*",
    "gulp": "gulpjs/gulp#4.0"
  },

  "scripts": {
    "global": "npm install -g chromium jq hjson uglify-js nyc mocha mocha-junit-reporter github:gulpjs/gulp.git#4.0 gulp-shell gulp-cli",
    "preinstall": "mkdir -p ../js",
    "postinstall": "gulp lib:build",
    "test": "nyc --reporter=lcov --reporter=text --reporter=cobertura gulp lib:mocha:report"
  },

  "preferGlobal": true,
  "author": "kobabasu",
  "license": "MIT"
}
