/**
 * rootはnode_modulesが存在するディレクトリからのレポジトリの
 * ドキュメントルートを指定
 *
 * settingは使用するmodulesの一覧
 * defaultは./src/だが、../js/などとして使用する
 * lib.hjsonがある場所を指定
 *
 * nameはtask名の先頭になる
 */

const root = './';
const node_modules = './';

export const dir = {
  name: '',

  root:    root,
  src:     root + 'src/',
  modules: root + 'modules/',
  test:    root + 'test/',
  dist:    root + '../js/',
  setting: root + '../js/',
  docs:    root + 'docs/lib/',
  report:  root + 'results/test-results.xml'
}
