/**
 * lib.hjson
 * @file ページで利用するmodules
 * gulp lib, gulp lib:minで利用
 */

[
  /*
   * common
   */
  "./lib/modules/ImageSrcset.js",
  "./lib/modules/DetectViewport.js",
  "./lib/modules/InnerLink.js",
  "./lib/modules/InView.js",
  "./lib/modules/ScrollIt.js",
  "./lib/modules/ScrollTop.js",
  "./lib/modules/SlideMenu.js",
  // "./lib/modules/HumbergerMenu.js",

  /*
   * options
   */
  "./lib/modules/SlideShow.js",
  "./lib/modules/RippleEffect.js",
  "./lib/modules/UpdateCopyright.js"
]
